* {
    text-align: center;
}
.saida  td:nth-child(1) {
	text-align: left;
}
.saida  td:nth-child(2) {
	text-align: center;
	width: 300
}
.saida  td:nth-child(3) {
	text-align: center;
	width: 300;
}
.entrada td:nth-child(1) {
    text-align: right;
}

.entrada  td:nth-child(2) {
    text-align: left;
}

th{
    text-align: center;
}
.tableoutput{
    padding-top: 10px;
}
output{
    text-align: center;
}


table {
    margin: auto;
}
h1, p {
font-family: 'Ubuntu', sans-serif;
}

caption {
    font-size: 2em;
    font-family: 'Ubuntu', sans-serif;
}
.btn-warning{
    box-shadow: 0 4px 0 0 #ef994d;
    border:10px;
}

.btn-info{
    box-shadow: 0 4px 0 0 #418aa3;
}

.pressed{
    
    box-shadow: none;
    margin-bottom: -3px;
    margin-top: 3px;
}
#analisar_title{
    color:#418aa3;
    font-size: 30px;
    padding-bottom: 10px;
}
#design_title{
    color:#ef994d;
    font-size: 30px;
    padding-bottom: 10px;

}